
    <form>
        <table id="MyTable">

            <thead>
                <tr>
                    <th>Name Of Event</th>
                    <th>Description</th>
                    <th>Url</th>


                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
<script type="text/javascript" src="~/JS/EventBrite.js"></script>